@font-face {
  font-family: Audiowide;
  src: url(../fonts/Audiowide-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: DM Mono;
  src: url(../fonts/DMMono-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  src: url(../fonts/Inter-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

%header1 {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  font-size: 51px;
  line-height: 61px;
  text-transform: uppercase;
  color: #FFFFFF;
}

%header2 {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 45px;
  text-transform: uppercase;
  color: #FFFFFF;
}

%main-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}

%link-text {
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #000000;
}

* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'Audiowide', 'DM Mono', 'Inter', monospace;
  background-color: #000;
}