@font-face {
  font-family: Audiowide;
  src: url(../fonts/Audiowide-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: DM Mono;
  src: url(../fonts/DMMono-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  src: url(../fonts/Inter-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

%header1 {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  font-size: 51px;
  line-height: 61px;
  text-transform: uppercase;
  color: #FFFFFF;
}

%header2 {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 45px;
  text-transform: uppercase;
  color: #FFFFFF;
}

%main-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}

%link-text {
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
}

%roadmap-phase-info {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 32px;
  color: #FFFFFF;
}

* {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  font-family: 'Audiowide', 'DM Mono', 'Inter', monospace;

}

.page-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #000;
}

.page-header {
  width: 100%;
  min-height: 100px;
}

.page-header-container {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
}

.logo {
  display: block;
  padding: 52px 0 16px 0;
  transition: all .15s ease-in-out;
}

.logo:hover {
  transform: scale(1.05);
}

.logo:active {
  transform: scale(.98);
}

.page-header-nav {
  width: 100%;
  max-width: 310px;
  padding: 57px 0 27px 0;
  margin: 0 0 0 20px;
}

.menu-list {
  width: 100%;
  // max-width: 310px;
  display: flex;
  justify-content: space-around;
  list-style-type: none;

}

.menu-item a {
  @extend %link-text;
  text-decoration: none;
  display: block;
  transition: all .2s ease-in-out;
}

.menu-item a:hover {
  color: #8DFD1B;
  transform: scale(1.1);
}

.menu-item a:active {
  color: #A8A8A8;
  transform: scale(.95);
}

.icon-box {
  width: 100%;
  max-width: 180px;
  display: flex;
  justify-content: space-between;
  margin: 0 0 0 auto;
  padding: 50px 0 14px 0;
}

.sprite {
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  display: block;
}

.sprite:hover {
  transform: scale(1.1);
}

.sprite-discord {
  width: 36px;
  height: 36px;
  background-position: -8px -8px;
}


.sprite-telegram {
  width: 36px;
  height: 36px;
  background-position: -112px -8px;
}

.sprite-twitter {
  width: 36px;
  height: 36px;
  background-position: -164px -8px;
}

.sprite-you_toube {
  width: 36px;
  height: 36px;
  background-position: -216px -8px;
}

.banner {
  width: 100%;
  min-height: 653px;
  background: url(../img/banner-img.png) no-repeat right;
  padding: 128px 0 20px 72px;
  box-sizing: border-box;
}

.banner-info-blk {
  width: 100%;
  max-width: 508px;
}

.banner-header {
  width: 100%;
  max-width: 484px;
  @extend %header1;
  margin: 0 0 43px 0;
}

.banner-text {
  width: 100%;
  max-width: 340px;
  @extend %main-text;
  margin: 0 0 132px 0;
}

.banner-btn {
  width: 100%;
  max-width: 205px;
  display: block;
  @extend %link-text;
  text-align: center;
  padding: 17px 0 27px 0;
  color: #000;
  text-decoration: none;
  background-color: #8DFD1B;
  transition: all .2s ease-out;
}

.banner-btn:hover {
  // color: #8DFD1B;
  // background-color: transparent;
  // border: 1px solid #8DFD1B;
  transform: scale(1.05);
}

.banner-btn:active {
  color: #8DFD1B;
  background-color: transparent;
  border: 1px solid #8DFD1B;
  transform: scale(.95);
}

.wave_nft {
  width: 100%;
  max-width: 1160px;
  display: flex;
  min-height: 545px;
  // padding: 0 40px;
  box-sizing: border-box;
  margin: 0 240px 0 40px;

}

.wave_nft-header-wrp {
  width: 100%;
  max-width: 437px;
  background: url(../img/wave-blue-img.png) no-repeat left bottom;
}

.wave_nft-header {
  width: 100%;
  max-width: 351px;
  @extend %header2;
  margin: 0 0 0 86px;
}

.wave_nft-header span {
  color: #A8A8A8;
}

.wave_nft-info-header {
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;
  color: #8DFD1B;
  margin: 0 0 27px 24px;
  position: relative;
}

.wave_nft-info-header::before {
  content: "";
  display: block;
  width: 2px;
  height: 124px;
  background-color: #8DFD1B;
  position: absolute;
  top: 3px;
  left: -22px;
}

.wave_nft-info-text {
  @extend %main-text;
  margin: 0 0 18px 0;
}

.wave_nft>article>p:nth-child(3) {
  font-size: 15px;
}

.wave_nft>article>p:nth-child(4) {
  margin: 0 0 36px 0;
}

.wave_nft-info {
  width: 100%;
  max-width: 570px;
  margin: 0 0 0 163px;
}

.wave_nft-btn {
  width: 100%;
  max-width: 246px;
  display: block;
  text-decoration: none;
  text-align: center;
  @extend %link-text;
  border: 1px solid #8DFD1B;
  padding: 10px 0 16px;
  transition: all .2s ease-out;
}

.wave_nft-btn:hover {
  background-color: #8DFD1B;
  color: #000;
}

.wave_nft-btn:active {
  background-color: #000;
  color: #8DFD1B;
  transform: scale(.95);
}

.artists {
  margin: 113px 0 0 0;
}

.artists-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  // margin: 113px 0 0 0;
}

.artists-header span {
  display: block;
  @extend %header1;
}

.artists-list {
  width: 100%;
  max-width: 1160px;
  display: flex;
  flex-wrap: wrap;
  margin: 127px auto 0 40px;
  list-style-type: none;
}

.artist-item {
  margin: 0 60px 60px 0;
}

.artist-item img {
  display: block;
}

.artists>ul>li:nth-child(4) {
  margin-right: 0;
}

.artist-item span {
  display: block;
  @extend %link-text;
  text-align: center;
  text-transform: capitalize;
  margin: 20px 0;
}

.story {
  width: 100%;
  max-width: 1160px;
  margin: 238px auto 0 40px;
}

.story-header {
  width: 100%;
  @extend %header2;
  text-align: center;
  color: #A8A8A8;
  margin: 0 0 61px 0;
}

.story-header span {
  display: inline-block;
  font-size: 37px;
  color: #FFFFFF;
}

.story-wrp {
  width: 100%;
  display: flex;
}

.story-nav {
  width: 100%;
  max-width: 282px;
  list-style-type: none;
}

.story-link a {
  display: block;
  @extend %link-text;
  text-decoration: none;
  color: #8DFD1B;
  padding: 25px 28px 31px;
  transition: all .2s ease-out;
}

.story-link a:hover {
  background-color: #222222;
}

.story-link a:active {
  transform: scale(.95);
}

.founders {
  width: 100%;
  max-width: 878px;
  min-height: 538px;
  display: flex;
  justify-content: flex-start;
  padding: 0 77px 0 0;
  box-sizing: border-box;
  background-color: #222222;
}

.founders-photo {
  display: block;
  width: 172px;
  height: 253px;
  padding: 60px 38px 0 60px;
}

.founders-info {
  padding: 77px 0 0 0;
}

.founders-info-title {
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;
  color: #8DFD1B;
  margin: 0 0 27px 24px;
  position: relative;
}

.founders-info-title::before {
  content: "";
  display: block;
  width: 2px;
  height: 93px;
  background-color: #8DFD1B;
  position: absolute;
  top: 1px;
  left: -22px;
}

.founders-info-text {
  @extend %main-text;
  margin: 0 0 18px 0;
}

.guitar-girl {
  width: 100%;
  max-width: 1440px;
  min-height: 240px;
  background: url(../img/figure-image.jpg) no-repeat;
  background-size: cover;
  margin: 120px 0 0 0;
}

.roadmap {
  width: 100%;
  min-height: 1424px;
  margin: 118px 0 238px 0;
  padding: 0 0 42px 0;
  position: relative;
}

// .roadmap {
//   background-image: url(../img/circles.png);
//   background-repeat: no-repeat;
// }

.background-circle1 {
  width: 100%;
  max-width: 670px;
  min-height: 670px;
  background-image: url(../img/circles.png);
  background-size: cover;
  position: absolute;
  left: 24px;
  top: -215px;
}

.background-circle2 {
  width: 100%;
  max-width: 670px;
  min-height: 670px;
  background-image: url(../img/circles.png);
  background-size: cover;
  position: absolute;
  right: 24px;
  top: 303px;
}

.background-circle3 {
  width: 100%;
  max-width: 670px;
  min-height: 670px;
  background-image: url(../img/circles.png);
  background-size: cover;
  position: absolute;
  top: 1020px;
  left: 24px;
}

.roadmap-header {
  width: fit-content;
  @extend %header2;
  margin: 0 auto;
}

.roadmap-phase-list {
  width: 100%;
  max-width: 540px;
  // min-height: 271px;
  list-style-type: none;
  margin: 106px auto 0;
  position: absolute;
  left: 450px;
  z-index: 1;
}

.phase-list-item {
  width: 100%;
  background-color: #222222;
}

.phase1-header {
  width: 100%;
  display: flex;
  padding: 13px;
  box-sizing: border-box;
  border: 1px solid #8DFD1B;
}

.phase1-number {
  display: block;
  width: 45px;
  height: 45px;
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  color: #000000;
  background-color: #8DFD1B;
  padding: 8px 16px;
  box-sizing: border-box;
}

.phase1-header-info {
  width: 100%;
  margin: 0 0 0 12px;
}

.phase1-status {
  display: block;
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #8DFD1B;
  padding: 3px 0 0 0;
}

.phase1-header-info-text {
  display: block;
  @extend %link-text;
  line-height: 28px;
  text-transform: uppercase;
}

.phase1-main_info {
  width: 100%;
  max-width: 540px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #8DFD1B;
  padding: 25px 13px 0;
  box-sizing: border-box;
  border-top: none;
}

.phase1-main_info-block1 {
  width: 100%;
  margin: 0 0 12px 12px;
}

.phase1-main_info-block1 span {
  display: block;
  @extend %roadmap-phase-info;
}

.phase1-main_info-block1>span:nth-child(3) {
  font-size: 12px;
}

.phase1-main_info-block2 {
  width: 100%;
  max-width: 298px;
  @extend %roadmap-phase-info;
  line-height: 26px;
  margin: 0 0 30px 0;
}

.phase1-item-img {
  width: 100%;
  width: 129px;
  height: 129px;
  background: url(../img/wave-red-img.png) no-repeat;
  background-size: cover;
  margin: 4px 0 41px;
}

.vertical-line1 {
  width: 100%;
  max-width: 2px;
  min-height: 40px;
  margin: 45px auto 55px;
}

.vertical-line1 svg {
  fill: #8DFD1B;
}

.phase2-number {
  color: #8DFD1B;
  background-color: transparent;
  border: 1px solid #8DFD1B;
  padding: 8px 13px;
}

.phase2-main_info-block2 {
  width: 100%;
  max-width: 298px;
  display: block;
  @extend %roadmap-phase-info;
  line-height: 26px;
  margin: 0 0 14px 0;
  font-size: 12px;
}

.phase2-item-img {
  width: 100%;
  width: 129px;
  height: 129px;
  background: url(../img/wave-blue-img.png) no-repeat;
  background-size: cover;
  margin: 4px 0 41px;
}

.vertical-line2 {
  margin: 54px auto 48px;
}

.phase3-discord {
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 26px;
  color: #8DFD1B;
}

.phase3-item-img {
  width: 100%;
  width: 129px;
  height: 129px;
  background: url(../img/wave-purple-img.png) no-repeat;
  background-size: cover;
  margin: 4px 0 41px;
}