@font-face {
  font-family: Audiowide;
  src: url(../fonts/Audiowide-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: DM Mono;
  src: url(../fonts/DMMono-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  src: url(../fonts/Inter-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
.team-title-item, .artists-header span {
  font-family: "Audiowide";
  font-style: normal;
  font-weight: 400;
  font-size: 79px;
  line-height: 88px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.discord_section-title, .banner-header {
  font-family: "Audiowide";
  font-style: normal;
  font-weight: 400;
  font-size: 51px;
  line-height: 61px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.questions-header, .roadmap-header, .story-header, .wave_nft-header {
  font-family: "Audiowide";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 45px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.discord_section-text, .founders-info-text, .wave_nft-info-text, .banner-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}

.page-footer-link a, .discord_section-btn, .question, .phase1-header-info-text, .story-link a, .artist-item span, .wave_nft-btn, .banner-btn, .menu-item a {
  font-family: "DM Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
}

.phase2-main_info-block2, .phase1-main_info-block2, .phase1-main_info-block1 span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 32px;
  color: #FFFFFF;
}

* {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  font-family: "Audiowide", "DM Mono", "Inter", monospace;
}

.page-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #000;
}

.page-header {
  width: 100%;
  min-height: 100px;
}

.page-header-container {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
}

.logo {
  display: block;
  padding: 52px 0 16px 0;
  transition: all 0.15s ease-in-out;
}

.logo:hover {
  transform: scale(1.05);
}

.logo:active {
  transform: scale(0.98);
}

.page-header-nav {
  width: 100%;
  max-width: 310px;
  padding: 57px 0 27px 0;
  margin: 0 0 0 20px;
}

.menu-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.menu-item a {
  text-decoration: none;
  display: block;
  transition: all 0.2s ease-in-out;
}

.menu-item a:hover {
  color: #8DFD1B;
  transform: scale(1.1);
}

.menu-item a:active {
  color: #A8A8A8;
  transform: scale(0.95);
}

.icon-box {
  width: 100%;
  max-width: 180px;
  display: flex;
  justify-content: space-between;
  margin: 0 0 0 auto;
  padding: 50px 0 14px 0;
}

.sprite {
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  display: block;
  transition: all 0.2s ease;
}

.sprite:hover {
  transform: scale(1.1);
}

.sprite-discord {
  width: 36px;
  height: 36px;
  background-position: -8px -8px;
}

.sprite-telegram {
  width: 36px;
  height: 36px;
  background-position: -112px -8px;
}

.sprite-twitter {
  width: 36px;
  height: 36px;
  background-position: -164px -8px;
}

.sprite-you_toube {
  width: 36px;
  height: 36px;
  background-position: -216px -8px;
}

.banner {
  width: 100%;
  min-height: 653px;
  background: url(../img/banner-img.png) no-repeat right;
  padding: 128px 0 20px 72px;
  box-sizing: border-box;
}

.banner-info-blk {
  width: 100%;
  max-width: 508px;
}

.banner-header {
  width: 100%;
  max-width: 484px;
  margin: 0 0 43px 0;
}

.banner-text {
  width: 100%;
  max-width: 340px;
  margin: 0 0 132px 0;
}

.banner-btn {
  width: 100%;
  max-width: 205px;
  display: block;
  text-align: center;
  padding: 17px 0 27px 0;
  color: #000;
  text-decoration: none;
  background-color: #8DFD1B;
  transition: all 0.2s ease-out;
}

.banner-btn:hover {
  transform: scale(1.05);
}

.banner-btn:active {
  color: #8DFD1B;
  background-color: transparent;
  border: 1px solid #8DFD1B;
  transform: scale(0.95);
}

.wave_nft {
  width: 100%;
  max-width: 1160px;
  display: flex;
  min-height: 545px;
  box-sizing: border-box;
  margin: 0 240px 0 40px;
}

.wave_nft-header-wrp {
  width: 100%;
  max-width: 437px;
  background: url(../img/wave-blue-img.png) no-repeat left bottom;
}

.wave_nft-header {
  width: 100%;
  max-width: 351px;
  margin: 0 0 0 86px;
}

.wave_nft-header span {
  color: #A8A8A8;
}

.wave_nft-info-header {
  font-family: "DM Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;
  color: #8DFD1B;
  margin: 0 0 27px 24px;
  position: relative;
}

.wave_nft-info-header::before {
  content: "";
  display: block;
  width: 2px;
  height: 124px;
  background-color: #8DFD1B;
  position: absolute;
  top: 3px;
  left: -22px;
}

.wave_nft-info-text {
  margin: 0 0 18px 0;
}

.wave_nft > article > p:nth-child(3) {
  font-size: 15px;
}

.wave_nft > article > p:nth-child(4) {
  margin: 0 0 36px 0;
}

.wave_nft-info {
  width: 100%;
  max-width: 570px;
  margin: 0 0 0 163px;
}

.wave_nft-btn {
  width: 100%;
  max-width: 246px;
  display: block;
  text-decoration: none;
  text-align: center;
  border: 1px solid #8DFD1B;
  padding: 10px 0 16px;
  transition: all 0.2s ease-out;
}

.wave_nft-btn:hover {
  background-color: #8DFD1B;
  color: #000;
}

.wave_nft-btn:active {
  background-color: #000;
  color: #8DFD1B;
  transform: scale(0.95);
}

.artists {
  margin: 113px 0 0 0;
}

.artists-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.artists-header span {
  display: block;
}

.artists-list {
  width: 100%;
  max-width: 1160px;
  display: flex;
  flex-wrap: wrap;
  margin: 127px auto 0 40px;
  list-style-type: none;
}

.artist-item {
  margin: 0 60px 60px 0;
}

.artist-item img {
  display: block;
}

.artists > ul > li:nth-child(4) {
  margin-right: 0;
}

.artist-item span {
  display: block;
  text-align: center;
  text-transform: capitalize;
  margin: 20px 0;
}

.story {
  width: 100%;
  max-width: 1160px;
  margin: 238px auto 0 40px;
}

.story-header {
  width: 100%;
  text-align: center;
  color: #A8A8A8;
  margin: 0 0 61px 0;
}

.story-header span {
  display: inline-block;
  font-size: 37px;
  color: #FFFFFF;
}

.story-wrp {
  width: 100%;
  display: flex;
}

.story-nav {
  width: 100%;
  max-width: 282px;
  list-style-type: none;
}

.story-link a {
  display: block;
  text-decoration: none;
  color: #8DFD1B;
  padding: 25px 28px 31px;
  transition: all 0.2s ease-out;
}

.story-link a:hover {
  background-color: #222222;
}

.story-link a:active {
  transform: scale(0.95);
}

.founders {
  width: 100%;
  max-width: 878px;
  min-height: 538px;
  display: flex;
  justify-content: flex-start;
  padding: 0 77px 0 0;
  box-sizing: border-box;
  background-color: #222222;
}

.founders-photo {
  display: block;
  width: 172px;
  height: 253px;
  padding: 60px 38px 0 60px;
}

.founders-info {
  padding: 77px 0 0 0;
}

.founders-info-title {
  font-family: "DM Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;
  color: #8DFD1B;
  margin: 0 0 27px 24px;
  position: relative;
}

.founders-info-title::before {
  content: "";
  display: block;
  width: 2px;
  height: 93px;
  background-color: #8DFD1B;
  position: absolute;
  top: 1px;
  left: -22px;
}

.founders-info-text {
  margin: 0 0 18px 0;
}

.guitar-girl {
  width: 100%;
  max-width: 1440px;
  min-height: 240px;
  background: url(../img/figure-image.jpg) no-repeat;
  background-size: cover;
  margin: 120px 0 0 0;
}

.roadmap {
  width: 100%;
  min-height: 1424px;
  margin: 118px 0 226px 0;
  padding: 0 0 42px 0;
  position: relative;
}

.background-circle1 {
  width: 100%;
  max-width: 670px;
  min-height: 670px;
  background-image: url(../img/circles.png);
  background-size: cover;
  position: absolute;
  left: 24px;
  top: -215px;
}

.background-circle2 {
  width: 100%;
  max-width: 670px;
  min-height: 670px;
  background-image: url(../img/circles.png);
  background-size: cover;
  position: absolute;
  right: 24px;
  top: 303px;
}

.background-circle3 {
  width: 100%;
  max-width: 670px;
  min-height: 670px;
  background-image: url(../img/circles.png);
  background-size: cover;
  position: absolute;
  top: 1020px;
  left: 24px;
}

.roadmap-header {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.roadmap-phase-list {
  width: 100%;
  max-width: 540px;
  list-style-type: none;
  margin: 106px auto 0;
  position: absolute;
  left: 450px;
  z-index: 1;
}

.phase-list-item {
  width: 100%;
  background-color: #222222;
}

.phase1-header {
  width: 100%;
  display: flex;
  padding: 13px;
  box-sizing: border-box;
  border: 1px solid #8DFD1B;
}

.phase1-number {
  display: block;
  width: 45px;
  height: 45px;
  font-family: "DM Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  color: #000000;
  background-color: #8DFD1B;
  padding: 8px 16px;
  box-sizing: border-box;
}

.phase1-header-info {
  width: 100%;
  margin: 0 0 0 12px;
}

.phase1-status {
  display: block;
  font-family: "DM Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #8DFD1B;
  padding: 3px 0 0 0;
}

.phase1-header-info-text {
  display: block;
  line-height: 28px;
  text-transform: uppercase;
}

.phase1-main_info {
  width: 100%;
  max-width: 540px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #8DFD1B;
  padding: 25px 13px 0;
  box-sizing: border-box;
  border-top: none;
}

.phase1-main_info-block1 {
  width: 100%;
  margin: 0 0 12px 12px;
}

.phase1-main_info-block1 span {
  display: block;
}

.phase1-main_info-block1 > span:nth-child(3) {
  font-size: 12px;
}

.phase1-main_info-block2 {
  width: 100%;
  max-width: 298px;
  line-height: 26px;
  margin: 0 0 30px 0;
}

.phase1-item-img {
  width: 100%;
  width: 129px;
  height: 129px;
  background: url(../img/wave-red-img.png) no-repeat;
  background-size: cover;
  margin: 4px 0 41px;
}

.vertical-line1 {
  width: 100%;
  max-width: 2px;
  min-height: 40px;
  margin: 45px auto 55px;
}

.vertical-line1 svg {
  fill: #8DFD1B;
}

.phase2-number {
  color: #8DFD1B;
  background-color: transparent;
  border: 1px solid #8DFD1B;
  padding: 8px 13px;
}

.phase2-main_info-block2 {
  width: 100%;
  max-width: 298px;
  display: block;
  line-height: 26px;
  margin: 0 0 14px 0;
  font-size: 12px;
}

.phase2-item-img {
  width: 100%;
  width: 129px;
  height: 129px;
  background: url(../img/wave-blue-img.png) no-repeat;
  background-size: cover;
  margin: 4px 0 41px;
}

.vertical-line2 {
  margin: 54px auto 48px;
}

.phase3-discord {
  font-family: "DM Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 26px;
  color: #8DFD1B;
}

.phase3-item-img {
  width: 100%;
  width: 129px;
  height: 129px;
  background: url(../img/wave-purple-img.png) no-repeat;
  background-size: cover;
  margin: 4px 0 41px;
}

.partners {
  width: 100%;
  max-width: 1160px;
  margin: 0 240px 244px 40px;
}

.partners-header {
  width: 100%;
  font-family: "DM Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #8DFD1B;
  text-align: center;
  margin: 0 0 50px 0;
}

.partners-box {
  width: 100%;
  min-height: 120px;
}

.partners-box-top_line {
  display: flex;
  justify-content: space-between;
  margin: 0 0 60px 0;
}

.partners-box-bottom_line {
  display: flex;
  justify-content: space-between;
}

.logoholder {
  width: 100%;
  max-width: 322px;
  min-height: 30px;
  background: url(../img/logoholder.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.questions {
  width: 100%;
  max-width: 1160px;
  margin: 0 181px 108px 99px;
  display: flex;
  justify-content: space-between;
}

.questions-header {
  width: 100%;
  max-width: 360px;
  background: url(../img/wave-red-img.png);
  background-repeat: no-repeat;
  background-position: bottom;
}

.questions-header span {
  color: #A8A8A8;
}

.questions-box {
  width: 100%;
  max-width: 580px;
  margin: 3px 0 54px 0;
  padding: 24px 21px 0 31px;
  box-sizing: border-box;
  background-color: #222222;
  list-style-type: none;
}

.questions-box-item {
  width: 100%;
}

.question {
  width: 100%;
  line-height: 24px;
  margin: 0 0 26px 0;
  position: relative;
}

.question::after {
  content: "";
  display: block;
  width: 16px;
  height: 18px;
  background-color: #FFFFFF;
  position: absolute;
  right: 0px;
  top: 3px;
}

.answer {
  width: 100%;
  max-width: 514px;
  margin: 0 14px 29px 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  color: #C4C4C4;
}

.team {
  width: 100%;
  overflow: hidden;
}

.team-title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  margin: 0 0 129px -121px;
}

.team-title-item {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 255px 0 0;
}

.team-list {
  width: 100%;
  max-width: 1160px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 236px;
  padding: 0 0 17px 0;
  list-style-type: none;
}

.team-list-item {
  width: 100%;
  max-width: 320px;
}

.team_member-photo {
  width: 100%;
  margin: 0 0 19px 0;
}

.team_member-photo img {
  width: 100%;
  display: block;
}

.team_member-name {
  width: 100%;
  font-family: "DM Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0 0 18px 0;
}

.team_member-status {
  width: 100%;
  font-family: "DM Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 12px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #8DFD1B;
  margin: 0 0 22px 0;
}

.team_member-social {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 0 22px 0;
}

.sprite2 {
  background-image: url(../img/spritesheet2.png);
  background-repeat: no-repeat;
  display: block;
  transition: all 0.2s ease;
}

.sprite2-in {
  width: 36px;
  height: 36px;
  background-position: -8px -8px;
}

.sprite2-twitter {
  width: 36px;
  height: 36px;
  background-position: -60px -8px;
}

.sprite2:hover {
  transform: scale(1.1);
}

.team-block {
  margin: 0 12px 0 0;
}

.team_member-text {
  widows: 100%;
  max-width: 238px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  margin: 0 auto;
}

.discord {
  width: 100%;
  max-width: 1167px;
  padding: 146px 0 128px;
  margin: 0 auto 118px;
  background-image: url(../img/wave-purple-img.png);
  background-repeat: no-repeat;
  background-position: right;
}

.discord-info {
  width: 100%;
  max-width: 483px;
}

.discord_section-title {
  width: 100%;
  margin: 0 0 32px 0;
}

.discord_section-title span {
  color: #8DFD1B;
}

.discord_section-text {
  width: 100%;
  max-width: 345px;
  margin: 0 0 35px 0;
}

.discord_section-btn {
  width: 100%;
  max-width: 213px;
  display: block;
  text-decoration: none;
  color: #000000;
  background-color: #8DFD1B;
  padding: 14px 31px 14px 61px;
  box-sizing: border-box;
  position: relative;
  transition: all 0.25s ease-out;
}

.discord_section-btn i {
  position: absolute;
  left: 32px;
  top: 17px;
}

.discord_section-btn:hover {
  color: #8DFD1B;
  background-color: #000000;
  outline: 1px solid #8DFD1B;
}

.discord_section-btn:active {
  transform: scale(0.95);
}

.page-footer {
  width: 100%;
  max-width: 1440px;
  background-color: #42006A;
  padding: 100px 140px 120px;
  box-sizing: border-box;
}

.page-footer-info {
  display: flex;
  justify-content: flex-start;
}

.copy-rights {
  width: 100%;
  max-width: 208px;
  min-height: 117px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3px 0 0 0;
  margin: 0 64px 0 0;
  transition: all 0.1s ease-out;
}

.copy-rights a {
  display: block;
}

.copy-rights p {
  width: 100%;
  font-family: "DM Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #FFFFFF;
}

.copy-rights a:hover {
  transform: scale(1.05);
}

.copy-rights a:active {
  transform: scale(0.98);
}

.page-footer-links {
  display: flex;
  justify-content: flex-start;
}

.footer-links-box {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
}

body > div > main > footer > div > nav > ul:nth-child(1) {
  margin: 0 100px 0 0;
}

.page-footer-link a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  line-height: 19px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.page-footer-link {
  transition: all 0.2s ease-in-out;
}

.page-footer-link:hover {
  transform: scale(1.1);
}

.page-footer-link a:hover {
  color: #8DFD1B;
  transform: scale(1.1);
}

.page-footer-link:active {
  transform: scale(0.95);
}

.page-footer-link a:active {
  color: #A8A8A8;
  transform: scale(0.95);
}

.footer-icon-box {
  padding: 0;
}/*# sourceMappingURL=style.css.map */